TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PRICE_LIMIT_RATIO=1.10
POLL_SECONDS=600
SEARCH_TERMS=Pokémon 30 Anos|Pokemon 30 Anos|30th Celebration Pokémon|Celebração de 30 Anos Pokémon
INCLUDE_SHIPPING_IN_LIMIT=false
MELI_ACCESS_TOKEN=
